
/************************/
/********CABECERA********/
/************************/

.cabecera {
    width:100%;
    height: 165px;
    margin: 0 auto;
}

.cabecera img{
    width:130px;
    float:left; 
    margin-top:0.5208333333333333%; /* 10 / 1920 */
    margin-left:7.8125%; /* 150 / 1920 */
}

.cabecera h1{
    float:left;  
    line-height: 150px;
    font-family: 'architect';
    font-size:2em;
}

nav.navIndex{
    float:right;
    margin-bottom: 10px;
    margin-right:7.8125%; /* 150 / 1920 */
    font-size:1.875em;  /* 30 / 16 */
    margin-top: 1%;   
}

nav.navIndex a{
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 10px;
    width: 20.83333333333333%;   /* 400 / 1920 */
    height: 400px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

nav.navIndex a{
    transition-property: color, background-color;
    transition-duration: 0.8s;
    transition-delay: 0s;  
    transition-timing-function: ease;
    color: #656565;
    background-color: white;
}

nav.navIndex a:hover{
    transition-property: color, background-color;
    transition-duration: 0.8s;
    transition-delay: 0s;  
    transition-timing-function: ease;
    color: white;
    background-color: #51a59f;
}

ul li a.actual{
    background-color: #51a59f;
    color:white;
}

ul.ulIndex{
    line-height: 130px;
    font-weight: bold;
    margin-bottom: 5%;
}

nav.navIndex ul li{
    list-style-type: none;
    display:inline;
}

nav.navIndex a:hover{
    color:white;   
}

.contenedorCabecera{
    width: 100%;
    background-color:white;
}


/*Logim*/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.form-1 {
    /* Size & position */
    width: 500px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative; /* For the submit button positioning */

    /* Styles */
    box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: white; /* Fallback */
    background: -moz-linear-gradient(#eeefef, #ffffff 10%);
    background: -ms-linear-gradient(#eeefef, #ffffff 10%);
    background: -o-linear-gradient(#eeefef, #ffffff 10%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeefef), color-stop(0.1, #ffffff));
    background: -webkit-linear-gradient(#eeefef, #ffffff 10%);
    background: linear-gradient(#eeefef, #ffffff 10%);
}

.form-1 .field {
    position: relative; /* For the icon positioning */
}

.form-1 .field i {
    /* Size and position */
    left: 0px;
    top: 0px;
    position: absolute;
    height: 36px;
    width: 36px;

    /* Line */
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);

    /* Styles */
    color: #777777;
    text-align: center;
    line-height: 42px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    pointer-events: none;
}

.form-1 input[type=text],
.form-1 input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    /* Size and position */
    width: 100%;
    padding: 10px 18px 10px 45px;

    /* Styles */
    border: none; /* Remove the default border */
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.form-1 input[type=text] {
    margin-bottom: 10px;
}

.form-1 input[type=text]:hover ~ i,
.form-1 input[type=password]:hover ~ i {
    color: #52cfeb;
}

.form-1 input[type=text]:focus ~ i,
.form-1 input[type=password]:focus ~ i {
    color: #42A2BC;
}

.form-1 input[type=text]:focus,
.form-1 input[type=password]:focus,
.form-1 button[type=submit]:focus {
    outline: none;
}

.form-1 .submit {
    /* Size and position */
    width: 65px;
    height: 65px;
    position: absolute;
    top: 17px;
    right: -25px;
    padding: 10px;
    z-index: 2;

    /* Styles */
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 
        0 0 2px rgba(0,0,0,0.1),
        0 3px 2px rgba(0,0,0,0.1),
        inset 0 -3px 2px rgba(0,0,0,0.2);
}

.form-1 .submit:after {
    /* Size and position */
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: -2px;
    left: 30px;

    /* Styles */
    background: #ffffff;

    /* Other masks trick */
    box-shadow: 0 62px white, -32px 31px white;
}

.form-1 button {
    /* Size and position */
    width: 100%;
    height: 100%;
    margin-top: -1px;

    /* Icon styles */
    font-size: 1.4em;
    line-height: 1.75;
    color: white;

    /* Styles */
    border: none; /* Remove the default border */
    border-radius: inherit;
    background: #52cfeb; /* Fallback */
    background: -moz-linear-gradient(#52cfeb, #42A2BC);
    background: -ms-linear-gradient(#52cfeb, #42A2BC);
    background: -o-linear-gradient(#52cfeb, #42A2BC);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#52cfeb), to(#42A2BC));
    background: -webkit-linear-gradient(#52cfeb, #42A2BC);
    background: linear-gradient(#52cfeb, #42A2BC);
    box-shadow: 
        inset 0 1px 0 rgba(255,255,255,0.3),
        0 1px 2px rgba(0,0,0,0.35),
        inset 0 3px 2px rgba(255,255,255,0.2),
        inset 0 -3px 2px rgba(0,0,0,0.1);

    cursor: pointer;
}

.form-1 button:hover,
.form-1 button[type=submit]:focus {
    background: #52cfeb;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.form-1 button:active {
    background: #42A2BC;
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.3),
        inset 0 3px 4px rgba(0,0,0,0.3);
}



.thumb{
    height: 300px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

.caja{
    font-size: 1.2em;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold
}

.nomostrar{
    display:none;
    margin-left:2%;
}

.polaroid{
    margin-top:50px;
    margin-bottom:50px;
}

.cursor{
    cursor: pointer;
}


.divImagenes{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-top: 50px;
}

.imagenAvidivinar{
    width:100%;
    margin:0.5%;
    margin-top:1%;
}

.contenedorImagen{
    margin:0.5%;
}

.divPistas{
    display:flex;
    justify-content: space-around;
    width: 73%;
    margin:0 auto;
    margin-top:50px;
}

.contenedor{
    width:90%;
    margin:0 auto;
}

#letras{
    display: flex;
    justify-content: center;
    width: 70%;
    margin:0 auto;
    margin-top: 15px;
}

.cajaPistas{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom:30px;
    flex-wrap: wrap;
}

/*Index Juego*/

.cajaUsuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.cajaUsuario.jugador span{
    line-height: 20px;
}

.infoPerfil{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.avatarPerfil{
    width:100%;
}

.nickUsuario{
    display: flex;
    margin-left: -6%;
    margin-top: 10px;
}

.avatar, .avatar2 {
    margin-top: 1em;
    margin-right: 1em;
    min-width:70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

.avatar{
    width: 5%;  
}

#infoProfile, #infoProfile2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#infoProfile{
    margin-right: 5%;
}

#profileUser{
    display: flex;
    align-items: flex-start;
    width: 95%;
    justify-content: space-between;
}

.labelProfile{
    margin-bottom:5px;
    font-size: 1.4em
}

#nickProfile, #pistasProfile{
    margin-bottom:10px;
}

.optionsProfile{
    width: 51%;
}

#options{
    width: 16%;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-left: 3%;
    min-width: 300px;
}

#fotoPerfil{
    margin: 1%;
    margin-bottom:20px;
}

.userProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#lapiz, #cruz{
    font-size:2em;
    color:white;
}

.letraBoton{
    font-weight: bold;
    margin-right: 8%;
}

div#background {
    height: auto;
    width: 100%;
    padding-top: 25px;
}

#background figure {
    background-color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 2px 3px black;
}

figure.pic1 {
    -webkit-transform : rotate(-10deg);
    z-index: 1;
}

figure.pic2 {
    -webkit-transform : rotate(15deg);
    z-index: 2;
}

figure.pic3 {
    -webkit-transform : rotate(-25deg);
    z-index: 1;
}

figure.pic4 {
    -webkit-transform : rotate(5deg);
    z-index:1;
}


#background figure:hover {
    box-shadow: 5px 10px 20px black;
    -webkit-transform: scale(1.1,1.1);
    z-index: 20;
}


.stackone {
    border: 6px solid #fff;
    float: left;
    height: 200px; width: 200px;
    margin: 50px;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    float: left;
    height: 200px; width: 200px;
    margin: 50px;
    position: relative;

    border: 6px solid #fff;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.stackone:before {
    content: "";
    height: 200px; width: 200px;
    background: #eff4de;
    border: 6px solid #fff;

    position: absolute;
    z-index: -1;
    top: 0px;
    left: -10px;

    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);

    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.stackone:after {
    content: "";
    height: 200px; width: 200px;
    background: #768590;
    border: 6px solid #fff;
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 0px;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
}







.button{
    text-align:center;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    display:inline-block;
    color: #FFF;
    background: #7F8C8D;
    padding: 5px 15px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.azul{
    background: #3498DB;
}

.azul:hover{
    background: #2980B9;
}

.rojo{
    background: #E74C3C;
}

.rojo:hover{
    background: #C0392B;
}

.adv-round-rectangle{
    width:70%;
    border: 2px dashed ;
    margin-top: 74px;
    margin-bottom: 73px;
}  

.userProfile.adv-round-rectangle.subir{
    width: auto;
    padding: 2%;
}

#subirimagenes{
    margin-bottom: 25px;
    width: 100%;
}


.button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.resolver{
    margin: 0 auto;
    margin-top: 10px;
    font-weight: bold;
}

#formulario{
    line-height: 40px;
}

/*Editar Perfil*/



#formEditar{
    display: flex;
    flex-direction: column;
}

.inputEdit{
    font-size: 0.9em;
}

/*Resolver*/

.pista{
    display: flex;
    flex-direction: column;
}

.pista span{
    margin-top:10px;
    font-weight:bold;
}

.contenedorRegistro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 605px;
    width: 100%;
}

/*Subir imagenes*/

#vista-previa{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
    margin-top:10px;
}

#vista-previa img{
    margin:10px;
    width: 23%;
    height: 23%;
}

.sinPermiso{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 589px;
    width: 100%;
}


/************************/
/*********FOOTER*********/
/************************/

footer{
    background-size: cover;  
    height:auto;       
}



footer li{
    list-style-type: none;  
    margin-right: 5px;
}



.divSubFooter{
    height: auto;
    margin-bottom: 20px;    
}

.myfooter li a{
    text-decoration: none;
    color: white;
}

.divSubFooter p{
    text-align: center;
    margin-top:20px;
    font-family: 'WorkSans';
    font-size:1.2em;
}

.divSubFooter img{
    margin-left:50px;   
}


.myfooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    background-color: black;
}



.redes{
    display: flex;
    justify-content: center;
    font-family: 'social';
    font-size:3em;
    list-style-type: none;
}

.redes li{
    margin-left: 5%;   
}

li.redli1{
    margin-left:0px;
}

.redes a{
    text-decoration:none;   
    color:black;

}

.redes.izq a{
    color:white;   
}


/************************/
/**********REDES*********/
/************************/

.twitter:hover, .youtube:hover, .facebook:hover, .obj:hover{
    transition-property: color;
    transition-duration: 0.7s;
}

.twitter:hover, .redes.izq a.twitter:hover{
    color:#4099FF;     
}

.youtube:hover, .redes.izq a.youtube:hover{
    color:#bb0000;   
}
.facebook:hover, .redes.izq a.facebook:hover{
    color:#3B5998;
}

.obj:hover, .redes.izq a.obj:hover{
    color:#FF7AA4;
}

.contenedorProfile, .contenedorSubirFotos{
    height:595px;
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 130px;
}

.contenedorSubirFotos{
    height: auto;
    display: flex;
    flex-direction: column;
}

/************************/
/*********FUENTES********/
/************************/


@font-face{
    font-family:"social";
    src: url(../fonts/Social.ttf);
}

.comunidad{
    display: flex;
    justify-content: center;
    width: 100%;
    color:white;
}

.button{
    min-width: 10em;
    margin-left: 5%;
}

.creador{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.fotoUsuario.juego{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1183px) {
    #profileUser{
        flex-direction: column;
        align-items: center;
    }

    #infoProfile {
        margin-right: 0%; 
        margin-bottom:15px;
    }

}

.contenedorProfile.edit{
    height: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

@media screen and (max-width:800px){
    #background figure{
        width: 40%;
    }
}


@media screen and (max-width: 736px) {

    .botonEditar.button.azul{
        max-width: 26em;
    }

    .adv-round-rectangle{
        width:92%;
    }
    #subirimagenes{
        max-width: 100%;    
    }

}

input.caja{
    width:30px;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}

.casillas{
        display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 6%;
}

.login-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

body > div.swal2-container > div.swal2-modal.show-swal2.visible > button.swal2-confirm.btn.btn-success{
    color: #fff;
    background-color: #1f5b84;
    border-color: #1f5b84;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

body > div.swal2-container > div.swal2-modal.show-swal2.visible > button.swal2-cancel.btn.btn-danger{
        display: inline-block;
    color: #fff;
    background-color: #8b2e24;
    border-color: #8b2e24;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 3%;
}

.inputs.caja{
    text-transform:uppercase;
}

#errorRespuesta{
    display: flex !important;
    justify-content: center !important;
    margin: 2% !important;
    color: red !important;
    font-weight: bold !important;
}

.enviado{
    color: #83d3c9;
    font-weight: bold;
}

.copy{
    font-size: 1em !important;
    margin-top: 20px !important;
}